.registrationFormContainer form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationFormLabelContainer{
}

.registrationFormContainer label{
}

.registrationFormContainer label span{
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}

.registrationFormContainer input{
  margin: 10px 0 20px 0;
  width: 800px;
  height: 75px;
  box-sizing: border-box;
  font-size: 40px;
}

.formRegLinksFooter{
  margin: 0 0 20px 0;
}

.registrationFormContainer button{
  width:444px;
  height: 75px;
  border-radius: 13px;
  border: none;
  background-color: #FCB50B;
  font-size: 32px;
  font-weight: 300;
}