.offer_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  margin: 24px;
  position: relative;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.discount_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 65px;
  height: 65px;
  top: -7%;
  right: -70%;
  background-color: #FCB50B;
  color: #DD1818;
  border-radius: 50%;
  padding: 15px;
  font-weight: bold;
  font-size: 40px;
}

.title {
  font-size: 40px;
  margin-top: -35px;
  margin-left: 15px;
}

.description {
  font-size: 24px;
  color: #555;
  margin-top: 16px;
  margin-bottom: 12px;
}

.price_container {
  display: flex;
  align-items: center;
}

.old_price {
  color: #888;
  font-size: 32px;
  margin-right: 8px;
}

.new_price {
  color: red;
  font-size: 55px;
  font-weight: bold;
}