.offer_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.discount_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 122px;
  height: 122px;
  top: -10%;
  right: -70%;
  background-color: #FCB50B;
  color: black;
  border-radius: 50%;
  padding: 10px;
  font-weight: bold;
  font-size: 48px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.59px;
  margin-top: -75px;
}

.description {
  font-size: 24px;
  color: #555;
  margin-top: -16px;
  margin-bottom: 12px;
}

.price_container {
  display: flex;
  align-items: center;
}

.old_price {
  color: #888;
  font-size: 32px;
  margin-right: 8px;
}

.new_price {
  color: red;
  font-size: 55px;
  font-weight: bold;
}

@media (max-width: 360px) {
  
  .offer_card{
    margin: 0;
  }

  .image {
    width: 143px;
    border-radius: 10px;
  }
  
  .discount_circle {
    width: 50px;
    height: 50px;
    font-size: 18px;
    top: -10%;
    right: -55%;
    border-radius: 50%;
    padding: 5px;
  }
  
  .title {
    font-size: 18px;
    margin-top: -35px;
  }
  
  .description {
    font-size: 13px;
    color: #555;
    margin-top: 15px;
    margin-bottom: 12px;
  }
  
  .price_container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .old_price {
    font-size: 20px;
    margin-right: 8px;
  }
  
  .new_price {
    font-size: 30px;
  }
}