.language {
    justify-content: center;
    display: flex;
    align-items: center;
}

.languageIcon {
    width: 26px; 
    height: 26px;
    margin-right: 5px; 
}

select {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 32px;
    color: white;
    background-color: #072849;
    border: none;
}

option{
    color: black;
    background-color: white;
    padding: 5px;
    font-size: 28px;
}

option:hover{
    border: none;
}

@media (max-width: 1024px) {
    .languageIcon {
        width: 25px; 
        height: 25px;
    }

    select{
        font-size: 24px;
        font-weight: 700;
        line-height: 29.3px;       
    }
    
    option{
        font-size: 22px;
    }
}

@media (max-width: 360px) {

.languageIcon {
    width: 15px; 
    height: 15px;
    margin-right: 5px; 
}

select {
    font-size: 16px;
}

option{
    font-size: 14px;
}

}