.language {
    justify-content: center;
    display: flex;
    align-items: center;
}

.languageIcon {
    width: 26px; 
    height: 26px;
    margin-right: 5px; 
}

select {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 32px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #072849;
}

@media (max-width: 360px) {

.languageIcon {
    width: 15px; 
    height: 15px;
    margin-right: 5px; 
}

select {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #072849;
}

}