h1{
  margin: 50px 20px;
  font-family: Calibri;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.13px;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}
  
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: lightgray;
  border-radius: 5px;
}
  
.pagination .active {
  font-weight: bold;
  color: white;
  background-color: blue;
}
  
@media (max-width: 360px) {

  h1{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
  }

  .grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  
}