.footer {
  font-family:  Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: #0C2946; 
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  flex-wrap: wrap;
}

Link{
  text-decoration: none;
}

.section {
  flex: 1;
  max-width: 300px;
}

.section h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.section ul {
  list-style-type: none; 
  padding: 0;
}

.LinkPAboutUs{
  margin-bottom: 45px;
  cursor: pointer; 
  font-size: 24px;
  color: #ffffff;
}

.LinkP {
  margin-bottom: 20px;
  cursor: pointer; 
  font-size: 24px;
  color: #ffffff;
}

.LinkP:hover {
  text-decoration: none; 
}

.paymentSection {
  flex: 1;
}

.paymentSection h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.paymentIcons {
  display: flex;
  align-items: center;
}

.paymentIcons img {
  height: 30px;
  margin-right: 15px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.socialIcons {
  display: flex;
  margin-top: 10px;
}

.socialIcons a {
  width: 55px;
  height: 55px;
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
}

.img1,.img2 {
  width: 55px;
  height: 55px;
}

.img3 {
  width: 30px;
  height: 38px;
  margin: 50%;
  transform: translateX(-50%)  translateY(-50%);
}

.footer .section:last-child {
  margin-right: 0;
}

.active {
  font-weight: 700;
}

@media (min-width: 1000px) and (max-width: 1900px) {
}

@media (max-width: 999px) {
  .footer {
    flex-direction: column;  
    padding: 30px 40px 50px 40px;
  }

  .section h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.97px;
  }

  .section ul li , .LinkPAboutUs, .LinkP{
    font-size: 13px;
    font-weight: 300;
    line-height: 15.87px;
    margin-bottom: 10px;
  }

  .paymentSection {
    margin-bottom: 10px;
  }

  .paymentIcons img {
    height: 20px;
  }
}