.aboutUsContainer {
    display: flex;
    flex-direction: column;
    font-family: Calibri;
    margin-bottom: 15px;
}

.AboutUsContainerForAll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageSection {
    margin-left: -15px;
}

.aboutUsImage {
    border-radius: 13px;
}

.textSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    margin: 0 50px;
}

.aboutUsH1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 78.13px;
    margin-left: 75px;
}

.textSectionP {
    font-size: 32px;
    font-weight: 400;
    line-height: 39.06px;
    flex-wrap: wrap;
}

.learnMoreButton {
    box-sizing: border-box;
    background-color: #ffcc00;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    width: 444px;
    height: 75px;
    font-size: 32px;
    font-weight: 300;
    line-height: 39.06px;
    text-align: center;
    border-radius: 13px;
}

.learnMoreButton:hover {
    background-color: #e6b800;
}

@media (min-width: 901px) and (max-width: 1900px) {
    .AboutUsContainerForAll {
        flex-direction: column;
    }

    .imageSection {
        width: 800px;
        height: 380px;
    }

    .imageSection img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: fill;
    }

    .textSection {
        margin: 0 0 10px 0;
    }
    
    .aboutUsH1 {
        text-align: center;
        font-size: 64px;
        line-height: 78.13px;
        margin: 0;
    }
    
    .textSectionP {
        font-size: 24px;
        line-height: 29.3px;
        margin: 75px 110px;
    }
    
    .learnMoreButton {
        width: 800px;
        height: 60px;
        font-size: 24px;
        line-height: 29.3px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .AboutUsContainerForAll {
        flex-direction: column;
    }

    .imageSection {
        margin: 0 36px;
        width: 292px;
        height: 194px;
    }

    .imageSection img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .aboutUsH1 {
        text-align: center;
        font-size: 30px;
        margin: 0;
    }

    .textSectionP {
        font-size: 13px;
        line-height: 1.3;
        margin: 0 36px 25px 36px;
    }

    .learnMoreButton {
        width: 200px;
        height: 36px;
        font-size: 16px;
        margin-bottom: 20px;
    }
}