.wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 0 25px 0;
}

.ImageGalleryCon{
    margin: 0 0 50px 0;
}

.PaginationRestCardsComponentCon{
    margin: 0 25px;
}

@media (max-width: 360px) {
    
}