.cardList {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 400px); 
  grid-gap: 20px;
}

.card.selected {
  grid-row: span 2; 
  height: auto; 
  transform: scale(1.05);
  z-index: 10; 
}